<!DOCTYPE html>
<html lang="en" ng-app="BindingApp">
<head>
    <title>Angular App Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-color-picker/dist/angularjs-color-picker.min.css" />
    <link rel="stylesheet" href="bower_components/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css" />
</head>

</script>
<body ng-controller="RegCtrl as ctrl" ng-style="ctrl.style">
<div style="padding: 30px">
    Enter your name here : <input id="myname" ng-model="ctrl.myname"/>
    <br><br>
    Enter your age here : <input id="age" ng-model="ctrl.age"/>
    <br><br>
    Enter your colour here :
    <input id="color" ng-model="ctrl.style['background-color']"/>
    <br><br>
    Enter your colour here (Way 2) :
    <input id="color2" ng-model="ctrl.color"/>

    <button ng-click="ctrl.changeColour()">
        Change my Day !
    </button>

    <br><br>
    <color-picker ng-model="ctrl.style['background-color']"></color-picker>

    <h1>{{"Hello "+ctrl.myname}} {{ctrl.var4}}</h1>
    <h1>{{"My age "+ctrl.age}} {{4+2}} </h1>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/tinycolor/dist/tinycolor-min.js"></script>
<script type="text/javascript" src="bower_components/angular-color-picker/dist/angularjs-color-picker.min.js"></script>
<script type="text/javascript" src="index.js"></script>


</html>